<!DOCTYPE html>
<html>
<head> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  <style>
  </style>
  
  
</head>
<body>
  <div id="nav-placeholder">
  </div>
  

<% for (i = 0; i < plots.length; i++) { %>
	<iframe width="450" height="400" frameborder="0" scrolling="no" src=<%= plots[i] %>></iframe>
<% } %>
  
  <div id="test data">
    <%= sid %>
  </div>

  <script>
    
    var sid;
    
    jQuery(document).ready(function($) {
      $("#nav-placeholder").load("nav.ejs", function() {
        $(".nav").find(".active").removeClass("active");
        $("#profilelink").addClass("active");
      });
      
      sid = '<%= sid %>';
      
      // this changes the session variable to sid from this page
      // needed for if user refreshes page
      $(window).bind('beforeunload', function() {
        $.post('/joindatasession', {sid: sid}, function(data) {       
        });
      });
      
    });
  </script> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>