<div class="container">
  <div class="row">
    <div class="col">
	    <div id="playwindow">
	      <div class="row">
			<table class="table">
			  <thead>
			    <tr>
			      <th scope="col">Project:</th>
			      <th scope="col">1</th>
			      <th scope="col">2</th>
			      <th scope="col">3</th>
			      <th scope="col">4</th>
			      <th scope="col">5</th>
			      <th scope="col">6</th>
			      <th scope="col">7</th>
			      <th scope="col">8</th>
			      <th scope="col">9</th>
			      <th scope="col">10</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <th scope="row">Your payoff:</th>
			      <td id="p1"></td>
			      <td id="p2"></td>
			      <td id="p3"></td>
			      <td id="p4"></td>
			      <td id="p5"></td>
			      <td id="p6"></td>
			      <td id="p7"></td>
			      <td id="p8"></td>
			      <td id="p9"></td>
			      <td id="p10"></td>
			    </tr>
			    <tr>
			      <th scope="row">Median payoff:</th>
			      <td id="m1"></td>
			      <td id="m2"></td>
			      <td id="m3"></td>
			      <td id="m4"></td>
			      <td id="m5"></td>
			      <td id="m6"></td>
			      <td id="m7"></td>
			      <td id="m8"></td>
			      <td id="m9"></td>
			      <td id="m10"></td>
			    </tr>
			  </tbody>
			</table>
		  </div>
		  <div class="row">
		    <h2>Available funds: <span id="funds"></span></h2>
		  </div>
		  <div class="row">
		    <h2>Allocation:</h2>
		  </div>
		  <div class="row">
		    <form>
		      <div class="form-row">
		        <div class="col">
		          P1: <input type="number" id="a1" min="0" max="80" value="0" class="form-control">
		        </div>
		        <div class="col">
		          P2: <input type="number" id="a2" min="0" max="80" value="0" class="form-control">
		        </div>
		        <div class="col">
		          P3: <input type="number" id="a3" min="0" max="80" value="0" class="form-control">
		        </div>
		        <div class="col">
		          P4: <input type="number" id="a4" min="0" max="80" value="0" class="form-control">
		        </div>
		        <div class="col">
		          P5: <input type="number" id="a5" min="0" max="80" value="0" class="form-control">
		        </div>
		        <div class="col">
		          P6: <input type="number" id="a6" min="0" max="80" value="0" class="form-control">
		        </div>
		        <div class="col">
		          P7: <input type="number" id="a7" min="0" max="80" value="0" class="form-control">
		        </div>
		        <div class="col">
		          P8: <input type="number" id="a8" min="0" max="80" value="0" class="form-control">
		        </div>
		        <div class="col">
		          P9: <input type="number" id="a9" min="0" max="80" value="0" class="form-control">
		        </div>
		        <div class="col">
		          P10: <input type="number" id="a10" min="0" max="80" value="0" class="form-control">
		        </div>
		      </div>
		    </form>
		  </div>
		  <div class="row mt-3 justify-content-end">
		      <button type="button" class="btn btn-outline-success" onclick="submitAllocation()">Submit</button>
		  </div>
		</div>
		<div id="waitingwindow">
		  <h2>Waiting for all players to make their choices...</h2>
		</div>
		<div id="matchingwindow">
		  <h2>Matching you with other players...</h2>
		</div>
		<div id="resultswindow">
		  <div class="row">
		    <h2>You chose the allocation: <span id="allotest"></span></h2>
		  </div>
		  <div class="row">
			  <table class="table">
			  	  <caption>100 thalers are required to fund a project. Projects in green reach that threshold.</caption>
				  <thead>
				    <tr>
				      <th scope="col">Project:</th>
				      <th scope="col">1</th>
				      <th scope="col">2</th>
				      <th scope="col">3</th>
				      <th scope="col">4</th>
				      <th scope="col">5</th>
				      <th scope="col">6</th>
				      <th scope="col">7</th>
				      <th scope="col">8</th>
				      <th scope="col">9</th>
				      <th scope="col">10</th>
				    </tr>
				  </thead>
				  <tbody id="rbody">
				    <tr>
				      <th scope="row">Total Funding:</th>
				      <td id="f1"></td>
				      <td id="f2"></td>
				      <td id="f3"></td>
				      <td id="f4"></td>
				      <td id="f5"></td>
				      <td id="f6"></td>
				      <td id="f7"></td>
				      <td id="f8"></td>
				      <td id="f9"></td>
				      <td id="f10"></td>
				    </tr>
				   </tbody>
		      </table>
	      </div>
		</div>
	</div>
  </div>
</div>

<script src="ecf_payoffs.js"></script>