  <img src="hns.jpg" alt="alt text" />
  <div id="playscreen">
  <div id="gamename">
  </div>
  <div id="playername">
  </div>
  <!-- <form action="/processchoice" method="post"> -->
  <form action="" method="" onSubmit="return false;" class = "btn-group">
    <input type="submit" class="btn btn-secondary" name="choice" value="1" onclick="formSubmit()"><br>
    <input type="submit" class="btn btn-secondary" name="choice" value="2" onclick="formSubmit()"><br>
    <input type="submit" class="btn btn-secondary" name="choice" value="3" onclick="formSubmit()"><br>
    <input type="submit" class="btn btn-secondary" name="choice" value="4" onclick="formSubmit()"><br>
  </form>
  </div>
  <div id="waitingscreen">
    Waiting on the other player...
  </div>
  <div id="matchingscreen">
    Matching you with another player...
  </div>
  <div id="playerleftscreen">
    The other player left the session.
  </div>
  <div id="resultsscreen">
    <h1>Evade</h1>
    Hider chose box <span id="choice1"></span>, seeker chose box <span id="choice2"></span>.<br>
      <span id="evadeWinner"></span> wins!
    <br>
    <h1>Find</h1>
    Hider chose box <span id="choice3"></span>, seeker chose box <span id="choice4"></span>.<br>
      You both <span id="findResult"></span>!
    <br><br>
    <a href="/">Start over</a>
  </div>