<!DOCTYPE html>
<html>
<head> 
  <script src="http://underscorejs.org/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  <style>
  </style>
  
  
</head>
<body>
  <div id="nav-placeholder">
  </div>
  
  <div id="sid-check">
  </div>
  
  <div id="test-data">
  </div>
  
  <div id="no-plays-screen">
    No one has played this game yet!
  </div>
  
  <div id="data-frame" class="container">
    <div class="row">
      <div class="col-xs-6 col-lg-4">
        <div id="test-num">
        </div>
      </div>
      <div class="col-xs-12 col-lg-8">
        <canvas id="volChart"></canvas>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-lg-4">
        <canvas id="chart0"></canvas>
      </div>
      <div class="col-xs-12 col-lg-8">
        <div class="row">
          <div class="col-xs-12 col-lg-6">
            <canvas id="chart1"></canvas>
          </div>
          <div class="col-xs-12 col-lg-6">
            <canvas id="chart2"></canvas>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-lg-6">
            <canvas id="chart3"></canvas>
          </div>
          <div class="col-xs-12 col-lg-6">
            <canvas id="chart4"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    
    var sid;
    var data;
    
    jQuery(document).ready(function($) {
      $("#nav-placeholder").load("nav.ejs", function() {
        $(".nav").find(".active").removeClass("active");
        $("#profilelink").addClass("active");
      });
      
      sid = '<%= sid %>';
      //$('#sid-check').html(sid); //use this for testing
      
      $('#no-plays-screen').hide();
      
      // this changes the session variable to sid from this page
      // needed for if user refreshes page
      $(window).bind('beforeunload', function() {
        $.post('/joindatasession', {sid: sid}, function(data) {       
        });
      });
      
      $.post('/fetchresults', {sid: sid}, function(d) {
        data = d;
        if (data.length <= 0) {
          $('#no-plays-screen').show();
          $('#data-frame').hide();
        } else {
          //$('#test-data').html(JSON.stringify(data)); //use this for testing
          
          var plural = '';
          if (data.length > 1) {
            plural = 's';
          }
          
          $('#test-num').html('This game has been played '+data.length+' time'+plural+'!');
          //$('#test-dates').html(playsByDay());
          
          fillCharts(d);
        }
      });
      
    });
    
    
    function fillCharts(d) {
      var ctx0 = $('#chart0')[0].getContext('2d');
      var chart0 = new Chart(ctx0, {
        type: 'doughnut',
        data: {
          labels: ['Hider', 'Seeker'],
          datasets: [{
                       backgroundColor: ['rgb(0, 230, 191)', 'rgb(255, 204, 153)'],
                       data: totalWinRates()
                    }]
        },
        options: {
          title: {
            display: true,
            text: 'Overall Win Rate'
          },
          animation: {
            animateScale: true
          }
        }
      });
      
      
      var evadeWRs = winRateByRound(0);
      var ctx1 = $('#chart1')[0].getContext('2d');
      var chart1 = new Chart(ctx1, {
        type: 'bar',
        data: {
          labels: ['Box 1', 'Box 2', 'Box 3', 'Box 4'],
          datasets: [
                      {
                        label: 'Hider',
                        backgroundColor: 'rgb(0, 230, 191)',
                        data: evadeWRs[0]
                      },
                      {
                        label: 'Seeker',
                        backgroundColor: 'rgb(255, 204, 153)',
                        data: evadeWRs[1]
                      }
                    ]
        },
        options: {
          title: {
            display: true,
            text: 'Evade Round Win Rate'
          }
        }
      });
      
      var ctx2 = $('#chart2')[0].getContext('2d');
      var chart2 = new Chart(ctx2, {
        type: 'bar',
        data: {
          labels: ['Box 1', 'Box 2', 'Box 3', 'Box 4'],
          datasets: [
                      {
                        label: 'Hider',
                        backgroundColor: 'rgb(0, 230, 191)',
                        data: pickRates(0,0)
                      },
                      {
                        label: 'Seeker',
                        backgroundColor: 'rgb(255, 204, 153)',
                        data: pickRates(1,0)
                      }
                    ]
        },
        options: {
          title: {
            display: true,
            text: 'Evade Round Pick Rates'
          }
        }
      });
      
      var findWRs = winRateByRound(1);
      var ctx3 = $('#chart3')[0].getContext('2d');
      var chart3 = new Chart(ctx3, {
        type: 'bar',
        data: {
          labels: ['Box 1', 'Box 2', 'Box 3', 'Box 4'],
          datasets: [
                      {
                        label: 'Hider',
                        backgroundColor: 'rgb(0, 230, 191)',
                        data: findWRs[0]
                      },
                      {
                        label: 'Seeker',
                        backgroundColor: 'rgb(255, 204, 153)',
                        data: findWRs[1]
                      }
                    ]
        },
        options: {
          title: {
            display: true,
            text: 'Find Round Win Rate'
          }
        }
      });
      
      var ctx4 = $('#chart4')[0].getContext('2d');
      var chart4 = new Chart(ctx4, {
        type: 'bar',
        data: {
          labels: ['Box 1', 'Box 2', 'Box 3', 'Box 4'],
          datasets: [
                      {
                        label: 'Hider',
                        backgroundColor: 'rgb(0, 230, 191)',
                        data: pickRates(0,1)
                      },
                      {
                        label: 'Seeker',
                        backgroundColor: 'rgb(255, 204, 153)',
                        data: pickRates(1,1)
                      }
                    ]
        }, 
        options: {
          title: {
            display: true,
            text: 'Find Round Pick Rates'
          }
        }
      });
      
      var volume = playsByDay();
      console.log(volume);
      var volCtx = $('#volChart')[0].getContext('2d');
      var volChart = new Chart(volCtx, {
        type: 'line',
        data: {
          //labels: volume[0],
          datasets: [
            {
              label: 'Volume',
              backgroundColor: 'rgb(0, 230, 191)',
              data: volume,
              fill: false
            }
          ]
        },
        options: {
        scales: {
            xAxes: [{
              type: 'time',
              distribution: 'linear'
            }],
            yAxes: [{
              ticks: {
                min: 0
              }
            }]
        }
    }
      });
    }
    
    // round=0 for evade, round=1 for find
    // returns two four-element lists, win rate for each player for each box
    function winRateByRound(round) {
      let cs = data.map(di => di.choices[round]);
      var n = cs.length;
      var wins = [[0,0,0,0],[0,0,0,0]]; //wins for each player for each box
      for (var i = 0; i < cs.length; i++) {
        if (cs[i][0] === cs[i][1]) {
          if (round == 0) {
            wins[1][cs[i][1]-1]++;
          } else {
            wins[0][cs[i][0]-1]++;
            wins[1][cs[i][1]-1]++;
          }
        } else {
          if (round == 0) {
            wins[0][cs[i][0]-1]++;
          }
        }
      }
      var ncs = [numChosen(0,round), numChosen(1, round)];
      for (var i = 0; i < 2; i++) {
        for (var j = 0; j < 4; j++) {
          if (ncs[i][j] != 0) {
            wins[i][j] = wins[i][j]/ncs[i][j];
          }
        }
      }
      return wins;
    }
    
    function totalWinRates() {
      let rs = data.map(di => di.results);
      var n = rs.length;
      var hiderWins = 0;
      var seekerWins = 0;
      for (var i = 0; i < rs.length; i++) {
        if (rs[i][0] > rs[i][1]) {
          hiderWins++;
        } else if (rs[i][0] < rs[i][1]) {
          seekerWins++;
        } 
      }
      return [hiderWins/n, seekerWins/n];
    }
    
    // same as above for player
    // round=0 for evade, round=1 for find
    // returns list of counts for boxes 1,2,3,4
    function numChosen(player, round) {
      let cs = data.map(di => di.choices[round][player]);
      var totals = [0,0,0,0];
      for (var i = 0; i < cs.length; i++) {
        totals[cs[i]-1]++;
      }
      return totals;
    }
    
    function pickRates(player, round) {
      var cs = numChosen(player,round);
      return cs.map(ci => ci/data.length);
    }
    
    function playsByDay() {
      let dates = data.map(di => new Date(di.createdAt));
      dates.sort(function(a,b) {
        return a - b;
      });
      let dateStrings = dates.map(di => di.toDateString().substring(4));
      return getUniqAndCounts(dateStrings);
    }
    
    // this only works if arr is sorted
    function getUniqAndCounts(arr) {
      var uniq = [], counts = [], prev;
      for (var i = 0; i < arr.length; i++) {
        if (arr[i] !== prev) {
          //when i > 0, check if arr[i] is more than one day past arr[i-1]
          //if so, push dates in between to uniq and push 0 to counts
          if (i > 0) {
            var endDate = new Date(arr[i]), startDate = new Date(arr[i-1]);
            if (endDate - startDate > 1) {
              pushZerosInBetween(startDate, endDate, uniq, counts, function(dateArr, countArr) {
                uniq = dateArr;
                counts = countArr;
              });
            }
          }
          uniq.push(arr[i]);
          counts.push(1);
        } else {
          counts[counts.length-1]++;
        }
        prev = arr[i];
      }
      
      function pushZerosInBetween(startDate, endDate, dateArr, countArr, callback) {
        var d = startDate;
        d.setDate(d.getDate() + 1);
        while (d < endDate) {
          dateArr.push(d.toDateString().substring(4));
          countArr.push(0);
          d.setDate(d.getDate() + 1);
        }
        callback(dateArr, countArr);
      }
      
      var result = [];
      for (var i = 0; i < uniq.length; i++) {
        result.push({x: uniq[i], y: counts[i]});
      }
      
      return result;
    }
    
  </script> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>