<!DOCTYPE html>
<html>
<head> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  
  <style>
  tr.clickable-row {
    cursor: pointer;
  }
  </style>
</head>
<body>
  <div id="nav-placeholder">
    <iframe src="nav.ejs"></iframe>
  </div>
  
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Session ID</th>
        <th scope="col">Type</th>
        <th scope="col">Private</th>
        <th scope="col">Creator</th>
      </tr>
    </thead>
    <tbody>
      <tr class="clickable-row" data-href="/game">
        <th scope="row">1</th>
        <td>Hide and Seek</td>
        <td>Yes</td>
        <td>Steve</td>
      </tr>
    </tbody>
  </table>

<script>
jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
    
    //$("#nav-placeholder").load("nav.ejs");
});
</script> 

</body>
</html>