  <img src="hns.jpg" alt="alt text" />
  <div id="playscreen">
  <div id="gamename">
  </div>
  <div id="playername">
  </div>
  <!-- <form action="/processchoice" method="post"> -->
  <form action="" method="" onSubmit="return false;">
    <input type="radio" name="choice" value="1"> Box 1<br>
    <input type="radio" name="choice" value="2"> Box 2<br>
    <input type="radio" name="choice" value="3"> Box 3<br>
    <input type="radio" name="choice" value="4"> Box 4<br>
    <input type="submit" value="Submit" onclick="formSubmit()">
  </form>
  </div>
  <div id="waitingscreen">
    Waiting on the other player...
  </div>
  <div id="matchingscreen">
    Matching you with another player...
  </div>
  <div id="playerleftscreen">
    The other player left the session.
  </div>