<!DOCTYPE html>
<html>
<head> 
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  <style>
  </style>
  
  
</head>
<body>
  <div id="nav-placeholder">
  </div>
  <h1>This is the POD page. The ID of this game session is <%= sid %></h1>

  <div id="content">
	<%- include(page, {game: game, player: player, choices: choices}); %>
  </div>
  
  <div id="resultsscreen">
    <% -include("results", {}); %>
  </div>

  <script>
    var round;
  
    jQuery(document).ready(function($) {
      $("#nav-placeholder").load("nav.ejs", function() {
        $(".nav").find(".active").removeClass("active");
      });
      
      $("#matchingscreen").show();
      $("#playscreen").hide();
      $("#waitingscreen").hide();
      $("#resultsscreen").hide();
      
      round = 1;
      
    });
    
    var socket = io();
    
    var gameroom;
    var role;
    socket.on('start game', function(data) {
      role = data.role;
      gameroom = data.room;
      if (role === "Hider") {
        $("#playscreen").show();
        $("#waitingscreen").hide();
      } else {
        $("#playscreen").hide();
        $("#waitingscreen").show();
      }
      $("#matchingscreen").hide();
    });
    
    window.addEventListener( "pageshow", function ( event ) {
      var historyTraversal = event.persisted || 
                         ( typeof window.performance != "undefined" && 
                              window.performance.navigation.type === 2 );
      if ( historyTraversal ) {
        window.location.href = '/';
      }
    });
    
    var sid = "<%= sid %>"; 
    socket.emit('join session chat room', {sid: sid}); //join chat for everyone in session
    socket.emit('find game room', {sid:sid}); //find game room (pair with one other user in session)
    
    var formSubmit = function() {
      var choice = $("input[name='choice']:checked").val();
      $("input[name='choice']:checked").prop('checked', false); //unselect selected radio button (to reset for next round)
      $.post('/postchoice', {choice: choice, round: round});
      $('#playscreen').hide();
      $('#waitingscreen').show();
      var player = "<%= player %>"
      socket.emit('made choice', {player: player, room: gameroom});
      round++;
    };
    
    socket.on('your turn', function() {
      round++;
      if (round > 4) {
        console.log("end of game");
      } else {
        $('#playscreen').show();
        $('#waitingscreen').hide();	
      }
    });
    
  </script> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>