<!DOCTYPE html>
<html>
<body>
  <h1>Evade</h1>
  Hider chose box <span id="choice1"></span>, seeker chose box <span id="choice2"></span>.<br>
    <span id="evadeWinner"></span> wins!
  <br>
  <h1>Find</h1>
  Hider chose box <span id="choice3"></span>, seeker chose box <span id="choice4"></span>.<br>
    You both <span id="findResult"></span>!
  <br><br>
  <a href="/">Start over</a>
</body>
</html>