<!DOCTYPE html>
<html>
<head> 
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  <style>
  </style>
  
  
</head>
<body>
  <div id="playwindow" class="container>
    <div class="row">
      <div class="col-lg-10">
        <div id="countdown">
          <h1 id="timeleft"></h1>
          <div class="progress">
            <div id="timerbar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="240" style="width: 0%"></div>
          </div>
          <h1 id="warninglevel"></h1>
          <button id="evacbutton" onclick="endGame()">Evacuate</button>
        </div>
        <div id="finished">
          <h1>Game over</h1>
          <h1 id="choice"></h1>
        </div>
      </div>
    </div>
  </div>
  
<script>
  
  var days;
  var hours;
  var progress;
  var maxProgress;
  var warningLevel;
  var evacAt;
  var timer;
  
  jQuery(document).ready(function($) {
    warningLevel = 1;
    days = 1;
    hours = 0;
    progress = 0;
    maxProgress = days * 24;
    $("#timerbar").attr("aria-valuemax", maxProgress);
    $("#timeleft").html("Days: "+days+", Hours: "+hours);
    $("#finished").hide();
    updateProgBar();
    $("#warninglevel").html("Warning Level: "+warningLevel);
    
    //updates every second (one hour of in-game time)
    timer = setInterval(function() {
      progress = progress + 1;
      hours = hours - 1;
      if (hours < 0) {
        hours = 23;
        days = days - 1;
      }
      $("#timeleft").html("Days: "+days+", Hours: "+hours);
      updateProgBar();
    
      if (days < 0) {
        endGame();
      }
      
      updateWarningLevel();
      
    }, 1000);
    
  });
  
  function updateProgBar() {
    var val = progress / maxProgress * 100;
    val = Math.min(val, 100);
    $("#timerbar").css('width', val+"%").attr("aria-valuenow",val);
  }
  
  function updateWarningLevel() {
    var r = Math.random();
    if (r < 0.5) {
      warningLevel = warningLevel - 1;
    } else {
      warningLevel = warningLevel + 1;
    }
    if (warningLevel < 0) {
      warningLevel = 0;
    } else if (warningLevel > 5) {
      warningLevel = 5;
    }
    
    $("#warninglevel").html("Warning Level: "+warningLevel);
  }
  
  function endGame() {
    clearInterval(timer);
    $("#countdown").hide();
    $("#finished").show();
    
    if (days < 0) {
      $("#choice").html("You chose not to evacuate.");
    } else {
      $("#choice").html("You evacuated with "+days+" days and "+hours+" hours remaining.");
    }
  }
  
</script> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>